<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Horaire</th>
        <th scope="col" *ngFor='let g of getGrounds()'>{{ g.getName() }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let h of getHours()'>
        <th scope="row">{{ h }}</th>
        <th scope="col" *ngFor='let g of getGrounds()'>
          <match-result [matchs]="getMatchOfHours(g.getName(), h).getTeams()"></match-result>  
        </th>
      </tr>
    </tbody>
  </table>
</div>
