<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="btn btn-primary">Planing général</button>

    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

    <button type="button" class="btn">Phase finale</button>
</nav>
<!-- use https://ng-bootstrap.github.io/#/components/dropdown/examples -->

<app-general-planing></app-general-planing>
